<!DOCTYPE html>
<html>
  <%- include ../partials/head %>

  <body>
    <% include ../partials/navbar %>

    
    <h1 style="margin-left: 35px;">Create Patient</h1>
    
    <% include ../partials/scripts %>
  </body>
</html>